@import "tailwindcss";

@theme {
  @keyframes gradient-x {

    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }

  --animate-gradient-x: gradient-x 15s ease infinite;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}